<div>

    <mat-form-field appearance="standard">
        <mat-label>Frage</mat-label>
        <textarea [(ngModel)]="frage" matInput placeholder="Beispiel: Wie hoch ist der Eifelturm?"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Antwort</mat-label>
        <textarea [(ngModel)]="antwort" matInput placeholder="Beispiel: ca. 300m"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="verwerfen()" color="primary">Verwerfen</button>
    <button mat-raised-button (click)="add()" color="accent">Hinzufügen</button>
    <br />

    <mat-chip-list  cdkDropListOrientation="horizontal">
        <mat-chip  *ngFor="let card of cards">
            {{card}}
        </mat-chip>
    </mat-chip-list>

</div>
