<mat-card>
    <mat-card-title>{{user?.name}}</mat-card-title> 
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="abmelden()">Abmelden</button>
        <button mat-raised-button color="accent" (click)="deleteAccount()">Account löschen</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>Passwort ändern</mat-card-title>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>neues Passwort</mat-label>
            <input [(ngModel)]="passwort" matInput type="password" placeholder="Passwort">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput [(ngModel)]="wpasswort" type="password" placeholder="Passwort">
            <mat-hint *ngIf="(passwort!= wpasswort)">Passwörter stimmen nicht überein</mat-hint> 
            
        </mat-form-field>
    </p>
    <mat-card-actions>
        <button (click)="changePasswort()" mat-raised-button color="primary">Passwort ändern</button>
    </mat-card-actions>
</mat-card>