<div>
    <mat-card>
        <h1>Anmelden</h1>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Benutzername</mat-label>
                <input [(ngModel)]="anmeldenUsername" matInput placeholder="Benutzername">
                <mat-hint *ngIf="(!(allusers.indexOf( anmeldenUsername)!=-1)&& anmeldenUsername !='')">{{anmeldenUsername}} ist nicht Registriert</mat-hint> <!-- TODO: Ist an der falschen stelle-->

            </mat-form-field> 
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Passwort</mat-label>
                <input [(ngModel)]="anmeldenPasswort" matInput type="password" placeholder="Passwort">
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <button (click)="anmelden()" mat-raised-button color="primary">Anmelden</button>
    </mat-card>
    <mat-card>
        <div>
            <h1>Registrieren</h1>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Benutzername</mat-label>
                    <input matInput [(ngModel)]="registrierenUsername" placeholder="Benutzername">
                    <mat-hint *ngIf="((allusers.indexOf( registrierenUsername)!=-1)||registrierenUsername=='public')">Der Benutzername ist vergeben</mat-hint> <!-- TODO: Ist an der falschen stelle-->

                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Passwort</mat-label>
                    <input [(ngModel)]="rpasswort" matInput type="password" placeholder="Passwort">
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Passwort wiederholen</mat-label>
                    <input matInput [(ngModel)]="rnpasswort" type="password" placeholder="Passwort">
                    <mat-hint *ngIf="(rnpasswort!= rpasswort)">Passwörter stimmen nicht überein</mat-hint> 
                </mat-form-field>
            </p>
            <button (click)="registrieren()" mat-raised-button color="primary">Registrieren</button>
        </div>
    </mat-card>

</div>