<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset) ? 'dialog' : 'navigation'"
    [mode]="(isHandset) ? 'over' : 'side'" [opened]="(isHandset) === false">
    <mat-toolbar><img src="../../assets/bilder/logo_white_large.png"></mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list (click)="drawer.toggle()">

      <a mat-list-item routerLink="/">
        <mat-icon>school</mat-icon>
        <span class="menu-text">Lernen</span>
      </a>

      <a mat-list-item routerLink="karten">
        <mat-icon>list</mat-icon>
        <span class="menu-text">Karten</span>
      </a>
      <a mat-list-item routerLink="neu">
        <mat-icon>add_circle</mat-icon>
        <span class="menu-text">Neue Karte</span>
      </a>

      <mat-divider class="trennen"> </mat-divider>
      <!-- <a mat-list-item routerLink="account">
        <mat-icon>sync</mat-icon>
        <span class="menu-text">Synchronisieren</span>
      </a>
      <a mat-list-item routerLink="pakete">
        <mat-icon>book</mat-icon>
        <span class="menu-text">Pakete</span> 
      </a>  -->
      <a mat-list-item routerLink="statistiken">
        <mat-icon>assessment</mat-icon>
        <span matBadgeColor="warn" class="menu-text">Statistiken</span>
      </a>
      <a mat-list-item routerLink="einstellungen">
        <mat-icon>settings</mat-icon>
        <span class="menu-text">Einstellungen</span>
      </a>
      <mat-divider class="trennen"></mat-divider>
      <a mat-list-item routerLink="about">
        <mat-icon>info</mat-icon>
        <span class="menu-text">Das Projekt</span>
      </a>

      <a mat-list-item target="_blank" href="https://github.com/leonderdunna/Kappi/issues/new">
        <mat-icon>bug_report</mat-icon>
        <span class="menu-text">Fehler melden</span>
      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="../../assets/bilder/logo_white_large.png" alt=""></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>