.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu-text{
  padding-left:0.7cm;
}
.trennen{
  margin-top:0.3em;
  margin-bottom:0.3em;
}
img{
  height: 2.25em;
}
span{
  img{
    transform: translateY(0.25em) translateX(0.5em);
  }
}
