<div class="wrapper">

    <h1>Statistiken</h1>

    <mat-card>
        <mat-card-title>Kartenanzahlen</mat-card-title>
        <mat-card-content>

            Karten insgesamt: {{gesamtkartenzahl}}<br>
            <highcharts-chart [Highcharts]="Highcharts"  [options]="zaehlerOptions"
                style="width: 100%; height: 300px; display: block;">
            </highcharts-chart>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Fällige Karten im kommenden Monat</mat-card-title>
        <highcharts-chart [Highcharts]="Highcharts2" [options]="prognoseOptions"
                style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
    </mat-card>


</div>