<table mat-table [dataSource]="karten" class="mat-elevation-z8" *ngIf="karten.length>0">
    <ng-container matColumnDef="frage">
        <th mat-header-cell *matHeaderCellDef> Frage </th>
        <td mat-cell *matCellDef="let karte"> {{karte.frage}} </td>
    </ng-container>


    <ng-container matColumnDef="antwort">
        <th mat-header-cell *matHeaderCellDef> Antwort </th>
        <td mat-cell *matCellDef="let karte"> {{karte.antwort}} </td>
    </ng-container>

    <ng-container matColumnDef="mehr">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let karte">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item  (click)="edit(karte.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Bearbeiten</span>
                </button>
                <button mat-menu-item (click)="delete(karte.id)">
                    <mat-icon>delete_outline</mat-icon>
                    <span>Löschen</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>slideshow</mat-icon>
                    <span>Vorschau</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="karten.length<=0">
    Es sind keine Karten vorhanden
    <br>
    <button class="add" mat-button (click)="neu()">
        <mat-icon>add_circle</mat-icon>
        <span class="menu-text">Neue Karte</span>
    </button>


</div>