<div class="wrapper">
    <mat-card *ngIf="karten.length==0 ">
        <mat-card-subtitle>Noch keine Karten wurden erstellt</mat-card-subtitle>

        <button class="add" mat-button (click)="routeNeueKarte()">
            <mat-icon>add_circle</mat-icon>
            <span class="menu-text">Neue Karte</span>
        </button>
    </mat-card>
    <mat-card *ngIf="activeCard != '' && !fertig">
        <mat-card-content [innerHTML]="frage">Frage</mat-card-content>

    </mat-card>
    <mat-card *ngIf="!fertig">
        <mat-card-content>

            <mat-form-field appearance="standard">
                <mat-label>Antwort</mat-label>
                <input autocomplete="off" type="text" [(ngModel)]="userantwort" matInput
                    placeholder="Beispiel: ca. 300m">
            </mat-form-field>
            <mat-error *ngIf="(hinweis!='' )&&!richtig" [innerHTML]="hinweis"></mat-error>
            <mat-error style="color: green;" *ngIf="(hinweis!='' )&& richtig" [innerHTML]="hinweis"></mat-error>


            <p *ngIf="antwortSichtbar" [innerHTML]="antwort">Antwort</p>
            <mat-icon *ngIf="richtig">thumb_up</mat-icon>
        </mat-card-content>
    </mat-card>
</div>

<div class="antworten" *ngIf="(falsch || richtig || skip)">

    <button (click)="lernen(0)" mat-button>Nochmal</button>
    <button *ngIf="!falsch&&!skip" (click)="lernen(1)" mat-button>Schwer</button>
    <button *ngIf=" !falsch&& !hinweisBenoetigt &&!skip" (click)="lernen(2)" mat-button>Gut</button>
    <button *ngIf="!falsch&&!hinweisBenoetigt &&!skip" (click)="lernen(3)" mat-button>Einfach</button>
    <button *ngIf="falsch" (click)="openDialog()" mat-button>Antwort war richtig!</button>
</div>
<div class="antworten" *ngIf="(!falsch&&userantwort != ''&&!richtig && !skip && !fertig && (karten.length != 0)) ">
    <button mat-button (click)="pruefen()">Überprüfen</button>
</div>
<div class="antworten" *ngIf="(!falsch&&(userantwort =='')&&(!richtig && !skip) && !fertig && (karten.length != 0)) ">
    <button mat-button (click)="ueberspringen()">Überspringen</button>

</div>
<div class="fertig" *ngIf="(fertig && karten.length >0)">
    <mat-card>
        Sie sind für Heute fertig.
        <mat-icon>thumb_up</mat-icon>
    </mat-card>
</div>