<div>

    <mat-form-field appearance="standard">
        <mat-label>Frage</mat-label>
        <textarea [(ngModel)]="frage" matInput placeholder="Beispiel: Wie hoch ist der Eifelturm?"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Antwort</mat-label>
        <textarea [(ngModel)]="antwort" matInput placeholder="Beispiel: ca. 300m"></textarea>
    </mat-form-field>

    <button *ngIf="!((antwort ==card.antwort)&&(frage==card.frage))" mat-raised-button (click)="reset()"
        color="primary">Verwerfen</button>
    <button *ngIf="!((antwort ==card.antwort)&&(frage==card.frage))" mat-raised-button (click)="update()"
        color="accent">Bearbeiten</button>

    <button *ngIf="((antwort ==card.antwort)&&(frage==card.frage))" mat-raised-button disabled (click)="reset()"
        color="primary">Verwerfen</button>
    <button *ngIf="((antwort ==card.antwort)&&(frage==card.frage))" mat-raised-button disabled="" (click)="update()"
        color="accent">Bearbeiten</button>

</div>